$content-width-base: 769;
$content-width: $content-width-base + px;
$content-max: 1201px;
$content-small: 375px;
$nav-width: 200px;
$header-height-base: 70;
$header-height: $header-height-base + px;
$footer-height: 70px;

$color-black: #000;
$color-white: #fff;
$color-light-grey: #ddd;
$color-lightest-grey: #fbfbfa;
$color-grey: #ccc;
$color-dark-grey: #222; 
$color-darkest-grey: #111; 
$color-orange: #d07836;
$color-pink: #ee5f53;
$color-blue: #29bfd8;
$color-green: #89c249;

$primary-background-color: $color-white;
$primary-font-color: $color-darkest-grey;
$footer-background-color: $color-lightest-grey;

$navigation-background-color: $color-black;
$navigation-secondary-background-color: $color-black;
$navigation-active-group-color: $color-darkest-grey;
$navigation-active-item-color: $color-dark-grey;
$navigation-active-color: $color-pink;
$no-content-background-color: $color-light-grey;
