@import "css/variables";

.root {
  height: 100%;
  position: relative;
  background-image: url("/images/image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.view {
  height: 100%;
  left: 0;
  position: relative;
  transition: left 150ms ease-in-out;
  position: relative;
  padding-top: $header-height-base + px;

  &.pushed {
    left: -($nav-width);
  }
}

.contentWrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.content {
  min-height: 100%;
  max-width: $content-max;
  min-height: 478px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);

  h1 {
    font-size: 4em;
    text-transform: uppercase;
		color: $color-white;
  }

  h2 {
    padding-bottom: 0.5em;
  }
  
  h3 {
    padding-bottom: 0.5em;
  }

  p {
    padding-bottom: 1em;
  }
  
  p.no-padding {
    padding-bottom: 0;
  }

  ul {
    padding-left: 1em;
    padding-bottom: 1em;
  }
}

@media screen and (min-width: $content-width) {
  .view {
    left: 0;
    transition: none;
    height: auto;
    padding-top: $header-height-base + px;

    &.pushed {
      left: 0;
    }
  }
}

