@import "css/variables";

.root {
  background: $footer-background-color;
  color: #666;
  padding: 1em 0 2em;
  width: 100%;
  min-height: 400px;
  border-top: 2px solid rgba(0,0,0,0.05);
  font-size: 12px;
  position: relative;
}
