$content-width-base: 769;
$content-width: $content-width-base + px;
$content-max: 1201px;
$content-small: 375px;
$nav-width: 200px;
$header-height-base: 70;
$header-height: $header-height-base + px;
$footer-height: 70px;

$color-black: #000;
$color-white: #fff;
$color-light-grey: #ddd;
$color-lightest-grey: #fbfbfa;
$color-grey: #ccc;
$color-dark-grey: #222; 
$color-darkest-grey: #111; 
$color-orange: #d07836;
$color-pink: #ee5f53;
$color-blue: #29bfd8;
$color-green: #89c249;

$primary-background-color: $color-white;
$primary-font-color: $color-darkest-grey;
$footer-background-color: $color-lightest-grey;

$navigation-background-color: $color-black;
$navigation-secondary-background-color: $color-black;
$navigation-active-group-color: $color-darkest-grey;
$navigation-active-item-color: $color-dark-grey;
$navigation-active-color: $color-blue;
$no-content-background-color: $color-light-grey;

.root {
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.9);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  display: flex;
  height: $header-height;
  left: 0;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: left 150ms ease-in-out;
  z-index: 10;
  
  &.pushed {
    left: -($nav-width);
  }
}

.logo {
  color: #000;
  text-decoration: none;
  height: $header-height;
  display: flex;
  white-space: normal;
  padding: 0 0.5em;
  position: relative;
  z-index: 10;

  .logo-image {
    height: 70px;
    width: 113px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5em;
  }

  h1 {
    display: flex;
    height: $header-height;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px $color-green;
    text-stroke: 2px $color-green;
  }
}

@media screen and (min-width: 321px) {
  .logo {
    h1 {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: $content-width) {
  .root {
    left: 0;
    transition: none;
    
    &.pushed {
      left: 0;
    }
  }
  
  .logo {
    padding: 0 0.5em 0 1em; 
    
    .logo-image {
      height: 100px;
      width: 161px;
    }
    
    h1 {
      font-size: 1.8em;
    }
    
    &:hover {
      color: $color-white;
    }
  }
}

@media screen and (min-width: 800px) {
  .logo {
    h1 {
      font-size: 2em;
    }
  }
}
