$content-width-base: 769;
$content-width: $content-width-base + px;
$content-max: 1201px;
$content-small: 375px;
$nav-width: 200px;
$header-height-base: 70;
$header-height: $header-height-base + px;
$footer-height: 70px;

$color-black: #000;
$color-white: #fff;
$color-light-grey: #ddd;
$color-lightest-grey: #fbfbfa;
$color-grey: #ccc;
$color-dark-grey: #222; 
$color-darkest-grey: #111; 
$color-orange: #d07836;
$color-pink: #ee5f53;
$color-blue: #29bfd8;
$color-green: #89c249;

$primary-background-color: $color-white;
$primary-font-color: $color-darkest-grey;
$footer-background-color: $color-lightest-grey;

$navigation-background-color: $color-black;
$navigation-secondary-background-color: $color-black;
$navigation-active-group-color: $color-darkest-grey;
$navigation-active-item-color: $color-dark-grey;
$navigation-active-color: $color-blue;
$no-content-background-color: $color-light-grey;

$middle-base: ($header-height-base - 2) / 2;
$middle-pos: $middle-base + px;
$top-pos: ($middle-base - 8) + px;
$bottom-pos: ($middle-base + 8) + px;

.root {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: $header-height;
  width: $header-height;
  background: $color-black;
  transform: rotate(0deg);
  transition: 150ms ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
  
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: $color-white;
    border-radius: 2px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 150ms ease-in-out;
  }

  span:nth-child(1) {
    top: $top-pos;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: $middle-pos;
  }

  span:nth-child(4) {
    top: $bottom-pos;
  }
}

.open {
  span:nth-child(1) {
    top: $middle-pos;
    width: 0%;
    left: 50%;
  }

  span:nth-child(2) {
    transform: rotate(45deg);
  }

  span:nth-child(3) {
    transform: rotate(-45deg);
  }

  span:nth-child(4) {
    top: $middle-pos;
    width: 0%;
    left: 50%;
  }
}
